* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common for all */
body {
  background-color: rgb(40, 42, 54);
  color: #272934;
}
a {
  text-decoration: none;
  color: white;
}
.btn {
  border: none;
}

.app {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* nav */
.nav {
  position: sticky;
  top: 0;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 42, 54);
  box-shadow: 0px 0px 50px 0px rgb(0, 0, 0, 0.2);
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.nav-list_item {
  list-style: none;
  font-size: 1.4rem;
}
/* main and footer */
.main,
.footer {
  padding: 20px 30px;
}
/* main */
/* home-section */
.home {
  margin: 20px 0;
}
/* search-component */
.search-user {
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}
.search-user label {
  display: inline-block;
  padding: 20px;
}
.search-user-input {
  border: none;
  background-color: transparent;
  width: 70%;
  padding-left: 10px;
  font-size: 1.3rem;

  color: white;
}
.search-user-input:focus {
  outline: none;
}

/* container */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 1rem;
}
.user {
  max-width: 350px;
  width: 100%;
  display: flex;
  column-gap: 2rem;
  padding: 20px 30px;
  background-color: #f9dec9;
  border-radius: 10px;
}
.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-btn-info {
  background-color: transparent;
  color: #e96d7b;
  padding: 3px 0;
  border-radius: 5px;
  cursor: pointer;
}
/* spinner */
.spinner{
  margin-top: 1.5rem;
}
/* user page */
.userInfo {
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  gap: 2rem;
  background-color: #f9dec9;
  border-radius: 10px;
}
/* about page */
.about{
  background-color: #f9dec9;
  padding: 20px 10px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}
.footer{
  color: white ;
  text-align: center;
  box-shadow:0px 0px 50px 0px rgb(0, 0, 0, 0.2);
}
@media screen and (max-width: 1130px) {
  .user {
    max-width: 330px;
    column-gap: 1rem;
  }
}
@media screen and (max-width: 1080px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
 
}
@media screen and (max-width: 730px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
 
}
@media screen and (max-width: 400px) {
  .search-user{
    max-width: 350px;
  }
  .user{
    max-width: 270px;
    flex-direction: column;
  }
 
}
